.header_yellow {
  background-color: #FFD037;
}

.widget > h3, .widget-title {
  margin-bottom: 5px;
}

ul, ol {
  margin-bottom: 0;
}

.media-body, .media-left, .media-right {
  vertical-align: baseline;
}

.checkbox, .radio {
  margin-top: 3px;
  margin-bottom: 3px;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 5px;
  }
}

.mt-10 { margin-top: 10px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-50 { margin-top: 50px !important; }