/******OVERALL******/
.header_yellow {
  background-color: #FFD037;
}
.form-group {
  margin-bottom: 10px;
}
.control-label {
  color: #666666;
}
.theme_button {
  padding: 10px 10px;
  font-size: 16px;
}
.btn {
  padding: 12px 15px 12px;
  font-size: 18px;
  font-weight: normal;
  border: 1px solid #ebebeb;
  color: #666666;
  background-color: transparent;
}
.btn-primary.active, .btn-primary.focus,
.btn-primary:hover, .btn-primary.active.focus, .btn-primary:active:hover {
  border-color: #f83730;
  background-color: #f83730;
}

/******SPECIFIC PAGES******/
/*for layout*/
@media (max-width: 991px) {
  a.logo img {
    max-width: none;
  }
}


/*for contact page, icons on the right*/
.media-body, .media-left, .media-right {
  vertical-align: baseline;
}

/*for event page*/
.event-detail {
  font-size: 15px;
}
.entry-title {
  margin-bottom: 10px;
}

.mt-10 { margin-top: 10px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-50 { margin-top: 50px !important; }

.pt-10 { padding-top: 10px !important; }
.pt-20 { padding-top: 20px !important; }
.pt-30 { padding-top: 30px !important; }
.pt-40 { padding-top: 40px !important; }
.pt-50 { padding-top: 50px !important; }