.m-form .m-form__group {
  padding-top: 0;
  padding-bottom: 10px;
}
@media (min-width: 993px) {
  .m-form .m-form__group:last-child {
    padding-bottom: 10px;
  }
}
.static-text {
  text-align: left !important;
}

.btn-sm {
  margin-top: 0.25rem;
}