.m-form .m-form__help {
  padding-top: 0;
}
.m-form__help.m-form__error {
  color: #f4516c;
}

.m-form .m-form__group {
  padding-top: 0;
  padding-bottom: 10px;
}

.nav-link.active.show { /*bold active tab*/
  font-weight: 600;
}